<!DOCTYPE html>
<html>
<head>
	<title>Pustak</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style/template.css">
</head>
<body>
	<div class="nav">
		<ul>
			<li class="brand"><a href="/">Pustak</a></li>
		</ul>
	</div>
	
	<div class="main">
	{{{body}}}
	</div>
	<footer>&copy; 2020-2021 Abhishek Verma</footer>
</body>
</html>