* {
	padding: 0;
	margin: 0;
}

body {
	/*background: #111;
	color: #fff;*/
	
}

.nav {
	padding: 10px 10px;
	font-size: 18px;
	box-shadow: 0px 2px 4px grey;
}

.nav li {
	display: inline-block;
	list-style: none;
	margin: 5px 10px;
}

.nav a {
	text-decoration: none;
	color: inherit;
}

.brand {
	font-size: 24px;
}

.left {
	float: left;
	width: 10vw;
	padding: 20px;
}

.main {
  	padding: 10px;
	float: left;
}

.left a {
	text-decoration-line: none;
}
a:hover {
	text-decoration-line: underline;
}

.searchbox {
  	padding: 5px;
  	display: inline-block;
	width: 100%;
}


.bigsearch {
	padding: 5px;
	width: 80%;
}

/*
.searchBtn {
	display: block;
	margin: auto;
	width: 20%;	
	height: 40px;
	border-radius: 5px;
	font-size: 20px;
	background: #3bc33b;	
	border: 0;
	cursor: pointer;
}*/

.result {
  	padding: 10px;
  	width: 100%;
}

.book {
	margin: 10px 0;
	padding: 10px 0;
  	width: 100%;
}

#lists {
	padding: 10px 0;
}

.list {
	padding: 5px 0;
}



@media only screen and (min-width: 768px) {

	/*body {
		padding: 10px 30px;
	}
	
	form {
		width: 30vw;
		margin: auto;
	}*/
}
