:root {
	--main-bg-color: #fff;
	--main-color: #111;
	--link-color: #03A9F4;
	--accent-bg-color: #03A9F4;
	--accent-color: #fff;
} 

* {
	padding: 0;
	margin: 0;
}

*:focus {
    outline: none;
}

html, body {
	height: 100%;
}

body {
	background: var(--main-bg-color);
	color: var(--main-color);
	display: flex;
	flex-direction: column;	
}

.main {
	height: 100%;
	background-image: url("/assets/vertical.jpg");
	background-size: cover;
	background-position: initial;
	color: var(--accent-color);
	flex: 1;
}

.right {
	float: right;
	padding: 0 10px;
}

.right a {
	display: none;
}

.nav {
	padding: 10px 20px;
	font-size: 18px;
	background: var(--accent-bg-color);
	color: var(--accent-color);
}

.nav h2 {
	text-align: center;
	padding: 5px;
}

.nav ul {
	display: none;
}

.nav li, .actions li {
	display: inline-block;
	list-style: none;
	margin: 5px 10px 5px 0;
}

.nav a {
	text-decoration: none;
	color: inherit;
}
.nav a:hover {
	color: var(--main-bg-color);
	text-decoration-line: blink;
}

.brand {
	font-size: 28px;
	color: var(--main-bg-color);
	font-weight: bolder;
}

.flash {
	margin: 20px;
	padding: 20px;
	text-align: center;
}

.success {
	color: green;
}

.error {
	color: red;
}

form {
	position: relative;
	padding: 20px;
	text-align: center;
	margin: auto;
}

form > * {
	padding: 10px;
	margin: 10px;
}

a {
	color: #74ccf4;
}


form > input {
	display: block;
	margin: 20px auto;
	font-size: 16px;
	border: 0;
	border-bottom: 1px solid #bbb;
}

form > input[type="text"], input[type="password"] {
	width: 60%;
}

form > input[type="submit"] {
	cursor: pointer;
	background: inherit;
	cursor: pointer;
	border: 1px solid #bbb;
	color: inherit;
}

form > input[type="submit"]:hover {
	background: var(--accent-bg-color);
	color: var(--accent-color);
}

.errorPage {
	margin: 40px auto;
	text-align: center
}

footer {
	padding: 15px;
	text-align: center;
	flex-shrink: 0;
	background: var(--accent-bg-color);
	color: var(--accent-color);
}

.content {
	font-size: 30px;
	position: relative;
	top: 130px;
	padding-top: 100px;
	padding-left: 30px;
	line-height: 1.5;
}

@media only screen and (min-width: 768px) {
	
	.nav h2 {
		display: none;
	}

	.nav ul {
		display: block;
	}

	form {
		top: 25%;
		width: 30vw;
		margin: 20px auto;
	}

	.right a {
		display: block;
	}

	.main {
		margin-top: 5px;
		background-image: url("/assets/black.jpg");
	}

	footer {
		margin-top: 5px;
		padding: 32px;
	}

}