:root {
	--main-bg-color: #fff;
	--main-color: #111;
	--link-color: #03A9F4;
	--accent-bg-color: #03A9F4;
	--accent-color: #fff;
} 

* {
	padding: 0;
	margin: 0;
}

*:focus {
    outline: none;
}

html, body {
	height: 100%;
}

body {
	background: var(--main-bg-color);
	color: var(--main-color);
	display: flex;
	flex-direction: column;	
}

.main {
	flex: 1;
}

.nav {
	padding: 10px 20px;
	font-size: 18px;
	background: var(--accent-bg-color);
	color: var(--accent-color);
}

.nav li, .actions li {
	display: inline-block;
	list-style: none;
	margin: 5px 10px 5px 0;
}

.nav a {
	text-decoration: none;
	color: inherit;
}
.nav a:hover {
	color: var(--main-bg-color);
	text-decoration-line: blink;
}

.brand {
	font-size: 28px;
	color: var(--main-bg-color);
	font-weight: bolder;
}

.flash {
	margin: 20px;
	padding: 20px;
	text-align: center;
}

.success {
	color: green;
}

.error {
	color: red;
}

form {
	padding: 20px;
	text-align: center;
	margin: 20px;
}

form > * {
	padding: 10px;
	margin: 10px;
}

a {
	color: #74ccf4;
}

form > input {
	display: block;
	margin: 10px auto;
	font-size: 18px;
	border-radius: 2px;
}

form > input[type="submit"] {
	cursor: pointer;
}

form > input[type="submit"]:hover {
	background: var(--accent-bg-color);
	color: var(--accent-color);
}

footer {
	padding: 32px;
	text-align: center;
	flex-shrink: 0;
	background: var(--accent-bg-color);
	color: var(--accent-color);
}

@media only screen and (min-width: 768px) {
	
	form {
		width: 30vw;
		margin: 20px auto;
	}

}