<div class="about">
    <div class="description">
        <p><b>Qitaab</b> lets you search books on goodreads.com and add them into reading lists. It is fast. It is basic
            unlike other social media where you end up wasting time while your book waits beside you. </p>
        <br>
        <p>It is a side project built and maintained by an individual. All the book data shown in the app is retreived
            from <a href="https://goodreads.com">Goodreads</a> public APIs. Feedback or recommendations for more feature
            are welcome. You can send email at <a href="mailto:qitaab@tutanota.com">qitaab@tutanota.com</a> or <a
                href="https://twitter.com/intent/tweet?screen_name=Qitaabapp&ref_src=twsrc%5Etfw">tweet to
                @Qitaabapp</a>.</p>
    </div>
</div>