<form method="POST" action="/signup">
		<h3> Please Sign up </h3>
		{{#if messages.error}}
		<div class="error">
		    <p>{{ messages.error }}</p>
		</div>
		{{/if}}
		{{#if messages.info}}
		<div class="success">
		    <p>{{ messages.info }}</p>
		</div>
		{{/if}}
		<input type="text" name="username" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<input type='submit' name="submit" value="Sign Up" />	
		<span>Already a user? <a href="/login">Login</a></span>
</form>

